<p>
And now, the end is here<br />
And so I face the final curtain<br />
My friend, I'll say it clear<br />
I'll state my case, of which I'm certain<br />
I've lived a life that's full<br />
I traveled each and ev'ry highway<br />
And more, much more than this, I did it my way
</p>