<!DOCTYPE html>
<html lang="en">
<head>
	<title>Reverse!</title>
	<meta charset=utf-8/>
</head>
<body>
	<h1><%= @title %></h1>
	
	<%= yield %>
	
	<p>This is the first Sinatra project for I Did It My Way!</p>
</body>
</html>